/*@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}*/

body {
  background-color: #130000;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-color: #660000;
  text-align: center;
  font-size: 35;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}

#menu {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.menu-item {
  padding: 5px;
  color: #130000;
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#movies {
  display: flex;
  color: #130000;
  flex-direction: column;
}

.thumbnail-movie {
  background-color: white;
  border: black solid;
  border-radius: 10px;
  width: 330px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.movie-info-list {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

.movie-cover {
  width: 250px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.movie-info-and-image {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.movie-cover-small {
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.movie-info-text {
  margin-left: 10px;
  margin-right: 10px;
}

.movie-info-and-image .movie-info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
}
