/*@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}*/

body {
  background-color: #130000;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-color: #660000;
  text-align: center;
  font-size: 35;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}

#menu {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: #130000 solid;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.menu-item {
  padding: 5px;
  color: #130000;
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sidebar {
  display: none;
}

#movies {
  display: flex;
  color: #130000;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 15px 15px;
}

.thumbnail-movie {
  background-color: white;
  border: black solid;
  border-radius: 10px;
  width: 300px;
  margin-top: 15px;
  /*margin-left: auto;
  margin-right: auto;*/
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px;
  margin-left: 5px;
}

.movie-info-list {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

.movie-cover {
  width: 250px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.movie-info-and-image {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.movie-cover-small {
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.movie-info-text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.movie-info-and-image .movie-info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
}

button,
#save-button {
  background-color: #660000;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.by-ticket-div {
  position: absolute;
  right: 5px;
}

#info-age-limit,
#buy-tickets {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

#age-limit {
  font-size: 25px;
}

#film-titles {
  font-size: 35px;
}

@media only screen and (min-width: 401px) {
  body {
    /* background-color: blue;*/
  }

  h1 {
    font-size: 45px;
  }
  .menu-item {
    font-size: 25px;
  }

  h2 {
    margin-bottom: 15px;
  }
  .movie-cover-small {
    width: 150px;
  }

  .movie-info-text {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
  }

  .by-ticket-button {
    font-size: 25px;
  }

  .movie-info-and-image .movie-info-list {
    font-size: 20px;
  }

  .return-button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 821px) {
  body {
    /*background-color: green;*/
  }

  .main {
    display: grid;
    grid-template-columns: auto auto;
  }

  .sidebar {
    display: block;
    background-color: #660000;
    min-width: 200px;
    max-width: 300px;
  }

  .sidebar p {
    text-align: center;
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .movie-cover-small {
    width: 200px;
  }

  .movie-info-image-and-text {
    display: grid;
    grid-template-columns: auto auto;
  }

  .movie-info-and-image {
    grid-template-columns: auto;
    margin-left: 10px;
  }
}
